---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import Label from '../components/Label.astro'

import { Image } from 'astro:assets'
import profile from '../assets/profile.png'
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-8'>
			<Image
				src={profile}
				alt='profile photo'
				class='h-80 w-auto rounded-full bg-[#FFBE98] p-3'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-5xl font-medium'>nicholas hadler</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label
						title='Google Scholar'
						as='a'
						href='https://scholar.google.com/citations?user=IBnzxfkAAAAJ&hl=en'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 512 512'
							class='h-4 w-4'
							slot='icon'
							><path
								fill='currentColor'
								d='M390.9 298.5c0 0 0 .1 .1 .1c9.2 19.4 14.4 41.1 14.4 64C405.3 445.1 338.5 512 256 512s-149.3-66.9-149.3-149.3c0-22.9 5.2-44.6 14.4-64h0c1.7-3.6 3.6-7.2 5.6-10.7c4.4-7.6 9.4-14.7 15-21.3c27.4-32.6 68.5-53.3 114.4-53.3c33.6 0 64.6 11.1 89.6 29.9c9.1 6.9 17.4 14.7 24.8 23.5c5.6 6.6 10.6 13.8 15 21.3c2 3.4 3.8 7 5.5 10.5zm26.4-18.8c-30.1-58.4-91-98.4-161.3-98.4s-131.2 40-161.3 98.4L0 202.7 256 0 512 202.7l-94.7 77.1z'
							></path></svg
						>
					</Label>

					<Label
						title='LinkedIn'
						as='a'
						href='https://www.linkedin.com/in/nicholas-hadler/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-4 w-4 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path>
						</svg>
					</Label>

					<Label title='GitHub' as='a' href='https://github.com/nhadler' target='_blank'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground' style='text-align: justify;'>
				I’m a chemistry Ph.D. candidate and an NSF research fellow in the Hartwig Group at the
				University of California, Berkeley. My focus is on developing novel methodologies in organic
				chemistry with transition-metal catalysis, data science, and high-throughput
				experimentation. I’m especially interested in applying machine learning to predict new
				chemical transformations and their selectivities. I have experience in organic and inorganic
				synthesis, asymmetric catalysis, high-throughput experimentation, computational chemistry,
				programming, machine learning, and data science.
			</p>

			<p class='text-muted-foreground' style='text-align: justify;'>
				Outside of the lab you can find me hiking, making coffee, tending to my vegetable garden, 
				and throwing pottery.
			</p>
		</Section>

		<Section title='Experience'>
			<Card
				heading='Graduate Student Researcher'
				subheading='Hartwig Group, UC Berkeley'
				date='2021 - Current'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						My research is focused on transition-metal catalysis, machine learning, and
						high-throughput experimentation.
					</li>
					<li>
						I taught "Organic Chemistry Lab for Non-Majors" and "General Chemistry and 
						Quantitative Analysis Lab", where where I instructed students how to conduct 
						experiments and apply their scientific intuition.
					</li>
				</ul>
			</Card>
			<Card
				heading='Undergraduate Student Researcher'
				subheading='Shi Group, USF'
				date='2019 - 2021'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Developed new ligand systems for gold catalysis, focused on the development of new
						organic transformations.
					</li>
					<li>
						<a href='https://pubs.acs.org/doi/10.1021/jacs.1c01811'
							>Alkyne Trifunctionalization via Divergent Gold Catalysis: Combining π-Acid
							Activation, Vinyl–Gold Addition, and Redox Catalysis</a
						>
					</li>
				</ul>
			</Card>
		</Section>

		<Section title='Education'>
			<Card
				heading='University of California, Berkeley'
				subheading='Doctor of Philosophy - PhD Organic Chemistry'
				date='2021 - 2026'
				imagePath='/src/assets/ucbseal.png'
				imageClass='h-12 w-auto md:-left-16'
				altText='UC Berkeley Seal'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Awarded the National Science Foundation Graduate Research Fellowship</li>
				</ul>
			</Card>

			<Card
				heading='University of South Florida'
				subheading='Bachelor of Science in Chemistry'
				date='2027 - 2021'
				imagePath='/src/assets/usf.png'
				imageClass='h-12 w-auto md:-left-16'
				altText='USF Seal'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Awarded the ACS Scholars Program Scholarship</li>
				</ul>
			</Card>
		</Section>

		<Section title='Contact'>
			<ul>
				<li>
					<b>Email</b>: <a href='mailto:nhadler@berkeley.edu'>nhadler@berkeley.edu</a>
					<br />
					<b>LinkedIn</b>: <a href='https://www.linkedin.com/in/nicholas-hadler/'
						>linkedin.com/in/nicholas-hadler</a
					>
				</li>
			</ul>
		</Section>
	</div>
</PageLayout>
